<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.kinder.dao.mysql.TeaAttendanceDao">

	<select id="get" resultType="com.bootdo.kinder.entity.TeaAttendanceVO">
		select `a_Id`,`a_Student_No`,`a_Tea_Id`,`a_Start_Date`,`a_End_Date`,`a_Attendance_Type`,`a_Note` from s_tea_attendance where a_Id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.kinder.entity.TeaAttendanceVO">
		select `a_Id`,`a_Student_No`,`a_Tea_Id`,`a_Start_Date`,`a_End_Date`,`a_Attendance_Type`,`a_Note` from s_tea_attendance
        <where>  
		  		  <if test="aId != null and aId != ''"> and a_Id = #{aId} </if>
		  		  <if test="aStudentNo != null and aStudentNo != ''"> and a_Student_No = #{aStudentNo} </if>
		  		  <if test="aTeaId != null and aTeaId != ''"> and a_Tea_Id = #{aTeaId} </if>
		  		  <if test="aStartDate != null and aStartDate != ''"> and a_Start_Date = #{aStartDate} </if>
		  		  <if test="aEndDate != null and aEndDate != ''"> and a_End_Date = #{aEndDate} </if>
		  		  <if test="aAttendanceType != null and aAttendanceType != ''"> and a_Attendance_Type = #{aAttendanceType} </if>
		  		  <if test="aNote != null and aNote != ''"> and a_Note = #{aNote} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by a_Id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from s_tea_attendance
		 <where>  
		  		  <if test="aId != null and aId != ''"> and a_Id = #{aId} </if>
		  		  <if test="aStudentNo != null and aStudentNo != ''"> and a_Student_No = #{aStudentNo} </if>
		  		  <if test="aTeaId != null and aTeaId != ''"> and a_Tea_Id = #{aTeaId} </if>
		  		  <if test="aStartDate != null and aStartDate != ''"> and a_Start_Date = #{aStartDate} </if>
		  		  <if test="aEndDate != null and aEndDate != ''"> and a_End_Date = #{aEndDate} </if>
		  		  <if test="aAttendanceType != null and aAttendanceType != ''"> and a_Attendance_Type = #{aAttendanceType} </if>
		  		  <if test="aNote != null and aNote != ''"> and a_Note = #{aNote} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.kinder.entity.TeaAttendanceVO">
        <selectKey keyProperty="aId" resultType="String" order="BEFORE">
            select replace(uuid(),'-','') from dual
        </selectKey>
		insert into s_tea_attendance
		(
			`a_Id`, 
			`a_Student_No`, 
			`a_Tea_Id`, 
			`a_Start_Date`, 
			`a_End_Date`, 
			`a_Attendance_Type`, 
			`a_Note`
		)
		values
		(
			#{aId}, 
			#{aStudentNo}, 
			#{aTeaId}, 
			#{aStartDate}, 
			#{aEndDate}, 
			#{aAttendanceType}, 
			#{aNote}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.kinder.entity.TeaAttendanceVO">
		update s_tea_attendance 
		<set>
			<if test="aStudentNo != null">`a_Student_No` = #{aStudentNo}, </if>
			<if test="aTeaId != null">`a_Tea_Id` = #{aTeaId}, </if>
			<if test="aStartDate != null">`a_Start_Date` = #{aStartDate}, </if>
			<if test="aEndDate != null">`a_End_Date` = #{aEndDate}, </if>
			<if test="aAttendanceType != null">`a_Attendance_Type` = #{aAttendanceType}, </if>
			<if test="aNote != null">`a_Note` = #{aNote}</if>
		</set>
		where a_Id = #{aId}
	</update>
	
	<delete id="remove">
		delete from s_tea_attendance where a_Id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from s_tea_attendance where a_Id in 
		<foreach item="aId" collection="array" open="(" separator="," close=")">
			#{aId}
		</foreach>
	</delete>

</mapper>